{#
/**
* @file
* Default theme implementation to display a single page.
*
* The doctype, html, head and body tags are not in this template. Instead they
* can be found in the html.html.twig template in this directory.
*
* Available variables:
*
* General utility variables:
* - base_path: The base URL path of the Drupal installation. Will usually be
*   "/" unless you have installed Drupal in a sub-directory.
* - is_front: A flag indicating if the current page is the front page.
* - logged_in: A flag indicating if the user is registered and signed in.
* - is_admin: A flag indicating if the user has permission to access
*   administration pages.
*
* Site identity:
* - front_page: The URL of the front page. Use this instead of base_path when
*   linking to the front page. This includes the language domain or prefix.
*
* Page content (in order of occurrence in the default page.html.twig):
* - title_prefix: Additional output populated by modules, intended to be
*   displayed in front of the main title tag that appears in the template.
* - title: The page title, for use in the actual content.
* - title_suffix: Additional output populated by modules, intended to be
*   displayed after the main title tag that appears in the template.
* - messages: Status and error messages. Should be displayed prominently.
* - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
*   view and edit tabs when displaying a node).
* - node: Fully loaded node, if there is an automatically-loaded node
*   associated with the page and the node ID is the second argument in the
*   page's path (e.g. node/12345 and node/12345/revisions, but not
*   comment/reply/12345).
*
* Regions:
* - page.header: Items for the header region.
* - page.navigation: Items for the navigation region.
* - page.navigation_collapsible: Items for the navigation (collapsible) region.
* - page.highlighted: Items for the highlighted content region.
* - page.help: Dynamic help text, mostly for admin pages.
* - page.content: The main content of the current page.
* - page.sidebar_first: Items for the first sidebar.
* - page.sidebar_second: Items for the second sidebar.
* - page.footer: Items for the footer region.
*
* @ingroup templates
*
* @see template_preprocess_page()
* @see html.html.twig
*/
#}
<div class="templatemo-top-bar" id="templatemo-top">
    <div class="container">
        <div class="subheader">
            <div id="phone" class="pull-left">
                <img src="{{ header_contact_image }}"/>
                {{ header_contact }}
            </div>
            <div id="email" class="pull-right">
                <img src="{{ header_email_image }}"/>
                {{ header_email }}
            </div>
        </div>
    </div>
</div>

<div class="templatemo-top-menu">
    <div class="container">
        <!-- Static navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    {{ page.header }}
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="templatemo-nav-bar">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Home -->
                        {% if page.main_navigation %}
                            {{ page.main_navigation }}
                        {% endif %} 
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </div><!--/.navbar -->
    </div> <!-- /container -->
</div>
        

<!-- Carousel -->
<div id="templatemo-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#templatemo-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#templatemo-carousel" data-slide-to="1"></li>
        <li data-target="#templatemo-carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>{{ first_banner_heading }}</h1>
                    <p>{{ first_banner_description }}</p>
                    <p><a class="btn btn-lg btn-green" href="{{ first_banner_button_one_link_url }}" role="button" style="margin: 20px;">{{ first_banner_button_one_link_title }}</a> 
                        <a class="btn btn-lg btn-orange" href="{{ first_banner_button_two_link_url }}" role="button">{{ first_banner_button_two_link_title }}</a></p>
                </div>
            </div>
        </div>
        
        <div class="item">
            <div class="container">
                    <div class="carousel-caption">
                        <div class="col-sm-6 col-md-6">
                            <h1>{{ second_banner_heading_one }}</h1>
                            <p>{{ second_banner_description_one }}</p>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <h1>{{ second_banner_heading_two }}</h1>
                            <p>{{ second_banner_description_two }}</p>
                        </div>
                    </div>
            </div>
        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption">
                    <h1>{{ third_banner_heading }}</h1>
                    <div class="col-sm-12 col-md-12">
                        <p>{{ third_banner_description }}</p>
                    <p><a class="btn btn-lg btn-orange" href="{{ third_banner_button_link_url }}" role="button">{{ third_banner_button_link_title }}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#templatemo-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#templatemo-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /#templatemo-carousel -->

<!-- main content section start -->
<div class="templatemo-welcome" id="templatemo-welcome">
    <div class="container">
        <div class="templatemo-slogan text-center">
            <span class="txt_darkgrey">{{ welcome_heading_one }} </span><span class="txt_orange">{{ welcome_heading_two }}</span>
            <p class="txt_slogan"><i>{{ welcome_description }}</i></p>
        </div>
        <div class="row">
            {% if page.sidebar_first and page.sidebar_second %}
                {% set primary_col = 6 %}
            {% elseif page.sidebar_first or page.sidebar_second %}
                {% set primary_col = 9 %}
            {% else %}
                {% set primary_col = 12 %}
            {% endif %}
            
            {% if page.sidebar_first %}
                <div id="sidebar-first" class="col-md-3">
                    <aside class="section">
                        {{ page.sidebar_first }}
                    </aside>
                </div>
            {% endif %}
            
            <div class="{{'content-area col-md-' ~ primary_col }}">
                {{ page.content }}
            </div>

            {% if page.sidebar_second %}
                <div id="sidebar-second" class="col-md-3">
                    <aside class="section">
                        {{ page.sidebar_second }}
                    </aside>
                </div>
            {% endif %}
        </div>  
    </div>
</div>

<div class="templatemo-service">
    <div class="container">
        <div class="row">
            <div class="templatemo-line-header">
                <div class="text-center">
                    <hr class="team_hr team_hr_left hr_gray"/><span class="txt_darkgrey">{{ service_heading }}</span>
                    <hr class="team_hr team_hr_right hr_gray"/>
                </div>
            </div>
            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="{{ service_one_image }}" alt="icon"/>
                        <span class="templatemo-service-item-header">{{ service_one_heading }}</span>
                    </div>
                    {% if service_one_description %}
                        <p>{{ service_one_description|raw }}</p>
                    {% else %}
                        {% if service_one_sort_description %}
                            <p>{{ service_one_sort_description|raw }}</p>
                        {% endif %}
                    {% endif %}
                    <div class="text-left">
                        <a href="{{ service_one_button_link_url }}" class="templatemo-btn-read-more btn btn-orange">{{ service_one_button_link_title }}</a>
                    </div>
                    <br class="clearfix"/>
                </div>
                <div class="clearfix"></div>
            </div>
            
            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="{{ service_two_image }}" alt="icon"/>
                        <span class="templatemo-service-item-header">{{ service_two_heading }}</span>
                    </div>
                    {% if service_two_description %}
                        <p>{{ service_two_description|raw }}</p>
                    {% else %}
                        {% if service_two_sort_description %}
                            <p>{{ service_two_sort_description|raw }}</p>
                        {% endif %}
                    {% endif %}
                    <div class="text-left">
                        <a href="{{ service_two_button_link_url }}" class="templatemo-btn-read-more btn btn-orange">{{ service_two_button_link_title }}</a>
                    </div>
                    <br class="clearfix"/>
                </div>                
            </div>
            
            <div class="col-md-4">
                <div class="templatemo-service-item">
                    <div>
                        <img src="{{ service_three_image }}" alt="icon"/>
                        <span class="templatemo-service-item-header">{{ service_three_heading }}</span>
                    </div>
                    {% if service_three_description %}
                        <p>{{ service_three_description|raw }} </p>
                    {% else %}
                        {% if service_three_sort_description %}
                            <p>{{ service_three_sort_description|raw }}</p>
                        {% endif %}
                    {% endif %}
                    <div class="text-left">
                        <a href="{{ service_three_button_link_url }}" class="templatemo-btn-read-more 
                        btn btn-orange">{{ service_three_button_link_title }}</a>
                    </div>
                    <br class="clearfix"/>
                </div>
                <br class="clearfix"/>
            </div>
        </div>
    </div>
</div>

<div class="templatemo-team" id="templatemo-about">
    <div class="container">
        <div class="row">
            <div class="templatemo-line-header">
                <div class="text-center">
                    <hr class="team_hr team_hr_left"/><span>{{ team_heading }}</span>
                    <hr class="team_hr team_hr_right" />
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
            <ul class="row row_team">
                <li class="col-lg-3 col-md-3 col-sm-6 ">
                    <div class="text-center">
                        <div class="member-thumb">
                            <img src="{{ team_one_person_image }}" class="img-responsive" alt="member 1" />
                        </div>
                        <div class="team-inner">
                            <p class="team-inner-header">{{ team_one_person_name }}</p>
                            <p class="team-inner-subtext">{{ team_one_person_profession }}</p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-3 col-sm-6 ">
                    <div class="text-center">
                        <div class="member-thumb">
                            <img src="{{ team_two_person_image }}" class="img-responsive" alt="member 2" />
                        </div>
                        <div class="team-inner">
                            <p class="team-inner-header">{{ team_two_person_name }}</p>
                            <p class="team-inner-subtext">{{ team_two_person_profession }}</p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-3 col-sm-6 ">
                    <div class="text-center">
                        <div class="member-thumb">
                            <img src="{{ team_three_person_image }}" class="img-responsive" alt="member 3" />
                        </div>
                        <div class="team-inner">
                            <p class="team-inner-header">{{ team_three_person_name }}</p>
                            <p class="team-inner-subtext">{{ team_three_person_profession }}</p>
                        </div>
                    </div>
                </li>
                <li class="col-lg-3 col-md-3 col-sm-6 ">
                    <div class="text-center">
                        <div class="member-thumb">
                            <img src="{{ team_four_person_image }}" class="img-responsive" alt="member 4" />
                        </div>
                        <div class="team-inner">
                            <p class="team-inner-header">{{ team_four_person_name }}</p>
                            <p class="team-inner-subtext">{{ team_four_person_profession }}</p>
                        </div>
                    </div>
                </li>
            </ul>
    </div>
</div><!-- /.templatemo-team -->

<div id="templatemo-portfolio">
    <div class="container">
        <div class="row">
            <div class="templatemo-line-header">
                <div class="text-center">
                    <hr class="team_hr team_hr_left hr_gray"/><span class="txt_darkgrey">{{ portfolio_heading }}</span>
                    <hr class="team_hr team_hr_right hr_gray"/>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="templatemo-gallery-category" style="font-size:16px; margin-top:40px;">
                <div class="text-center">
                    <a class="active" href=".gallery">{{ portfolio_menu_one }}</a> / <a href=".gallery-design">{{ portfolio_menu_two }}</a> / <a href=".gallery-graphic">{{ portfolio_menu_three }}</a> / <a href=".gallery-inspiration">{{ portfolio_menu_four }}</a> / <a href=".gallery-creative">{{ portfolio_menu_five }}</a>                           
                </div>
            </div>
        </div> <!-- /.row -->


        <div class="clearfix"></div>
        <div class="text-center">
            <ul class="templatemo-project-gallery">
                <li class="col-lg-2 col-md-2 col-sm-2 gallery gallery-graphic">
                    <a class="colorbox" href="{{ portfolio_one_full_image_link_url }}" data-group="gallery-graphic">
                        <div class="templatemo-project-box">

                            <img src="{{ portfolio_one_image }}" class="img-responsive" alt="gallery"/>

                            <div class="project-overlay">
                                <h5>{{ portfolio_one_overlay_heading_one }}</h5>
                                <hr/>
                                <h4>{{ portfolio_one_overlay_heading_two }}</h4>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 gallery gallery-creative">
                    <a class="colorbox" href="{{ portfolio_two_full_image_link_url }}" data-group="gallery-creative">
                        <div class="templatemo-project-box">
                            
                            <img src="{{ portfolio_two_image }}" class="img-responsive" alt="gallery"/>
                            
                            <div class="project-overlay">
                                <h5>{{ portfolio_two_overlay_heading_one }}</h5>
                                <hr/>
                                <h4>{{ portfolio_two_overlay_heading_two }}</h4>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 gallery gallery-inspiration">
                    <a class="colorbox" href="{{ portfolio_three_full_image_link_url }}" data-group="gallery-inspiration">
                        <div class="templatemo-project-box">
                            
                            <img src="{{ portfolio_three_image }}" class="img-responsive" alt="gallery" />
                            
                            <div class="project-overlay">
                                <h5>{{ portfolio_three_overlay_heading_one }}</h5>
                                <hr />
                                <h4>{{ portfolio_three_overlay_heading_two }}</h4>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 gallery gallery-design">
                    <a class="colorbox" href="{{ portfolio_four_full_image_link_url }}" data-group="gallery-design">
                        <div class="templatemo-project-box">
                            
                            <img src="{{ portfolio_four_image }}" class="img-responsive" alt="gallery"/>
                            
                            <div class="project-overlay">
                                <h5>{{ portfolio_four_overlay_heading_one }}</h5>
                                <hr/>
                                <h4>{{ portfolio_four_overlay_heading_two }}</h4>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 gallery gallery-inspiration">
                    <a class="colorbox" href="{{ portfolio_five_full_image_link_url }}" data-group="gallery-inspiration">
                        <div class="templatemo-project-box">
                            
                            <img src="{{ portfolio_five_image }}" class="img-responsive" alt="gallery"/>
                            
                            <div class="project-overlay">
                                <h5>{{ portfolio_five_overlay_heading_one }}</h5>
                                <hr/>
                                <h4>{{ portfolio_five_overlay_heading_two }}</h4>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 gallery gallery-inspiration">
                    <a class="colorbox" href="{{ portfolio_six_full_image_link_url }}" data-group="gallery-inspiration">
                        <div class="templatemo-project-box">
                            
                            <img src="{{ portfolio_six_image }}" class="img-responsive" alt="gallery"/>
                            
                            <div class="project-overlay">
                                <h5>{{ portfolio_six_overlay_heading_one }}</h5>
                                <hr/>
                                <h4>{{ portfolio_six_overlay_heading_two }}</h4>
                            </div>
                        </div>
                    </a>
                </li>               
                <li class="col-lg-2 col-md-2 col-sm-2 gallery gallery-design">
                    <a class="colorbox" href="{{ portfolio_seven_full_image_link_url }}" data-group="gallery-design">
                        <div class="templatemo-project-box">
                            
                            <img src="{{ portfolio_seven_image }}" class="img-responsive" alt="gallery"/>
                            
                            <div class="project-overlay">
                                <h5>{{ portfolio_seven_overlay_heading_one }}</h5>
                                <hr/>
                                <h4>{{ portfolio_seven_overlay_heading_two }}</h4>
                            </div>
                        </div>
                    </a>
                </li>               
                <li class="col-lg-2 col-md-2 col-sm-2 gallery gallery-creative">
                    <a class="colorbox" href="{{ portfolio_eight_full_image_link_url }}" data-group="gallery-creative">
                        <div class="templatemo-project-box">
                            
                            <img src="{{ portfolio_eight_image }}" class="img-responsive" alt="gallery"/>
                            
                            <div class="project-overlay">
                                <h5>{{ portfolio_eight_overlay_heading_one }}</h5>
                                <hr/>
                                <h4>{{ portfolio_eight_overlay_heading_two }}</h4>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 gallery gallery-graphic">
                    <a class="colorbox" href="{{ portfolio_nine_full_image_link_url }}" data-group="gallery-graphic">
                        <div class="templatemo-project-box">
                            
                            <img src="{{ portfolio_nine_image }}" class="img-responsive" alt="gallery"/>
                            
                            <div class="project-overlay">
                                <h5>{{ portfolio_nine_overlay_heading_one }}</h5>
                                <hr/>
                                <h4>{{ portfolio_nine_overlay_heading_two }}</h4>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="col-lg-2 col-md-2 col-sm-2 gallery gallery-inspiration">
                    <a class="colorbox" href="{{ portfolio_ten_full_image_link_url }}" data-group="gallery-inspiration">
                        <div class="templatemo-project-box">
                            
                            <img src="{{ portfolio_ten_image }}" class="img-responsive" alt="gallery"/>
                            
                            <div class="project-overlay">
                                <h5>{{ portfolio_ten_overlay_heading_one }}</h5>
                                <hr/>
                                <h4>{{ portfolio_ten_overlay_heading_two }}</h4>
                            </div>
                        </div>
                    </a>
                </li>
            </ul><!-- /.gallery -->
        </div>
        <div class="clearfix"></div>
        <div class="row text-center">
            <a class="btn_loadmore btn btn-lg btn-orange" href="{{ portfolio_button_link_url }}" role="button">{{ portfolio_button_link_title }}</a>
        </div>
    </div><!-- /.container -->
</div> <!-- /.templatemo-portfolio -->

<div id="templatemo-contact">
    <div class="container">
        <div class="row">
            <div class="templatemo-line-header head_contact">
                <div class="text-center">
                    <hr class="team_hr team_hr_left hr_gray"/><span class="txt_darkgrey">{{ contact_heading }}</span>
                    <hr class="team_hr team_hr_right hr_gray"/>
                </div>
            </div>
            
            <div class="col-md-12">
                <p>{{ contact_description }}</p>
                <p><img src="{{ contact_address_icon }}" alt="icon 1" />{{ contact_address }}</p>
                <p><img src="{{ contact_phone_icon }}"  alt="icon 2" />{{ contact_phone_number }}</p>
                <form class="form-horizontal contact-center" action="#">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter Your Name" maxlength="40" />
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Enter Your Email" maxlength="40" />
                    </div>
                    <div class="form-group">
                        <textarea  class="form-control" style="height: 130px;" placeholder="Write down your message"></textarea>
                    </div>
                    <button type="submit" class="btn btn-orange">{{ contact_button_title }}</button>
                </form>               
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /#templatemo-contact -->

<div class="templatemo-tweets">
    <div class="container">
        <div class="row" style="margin-top:20px;">
                <div class="col-md-1">
                    <img src="{{ tweet_image }}" alt="icon" />
                </div>
                <div class="col-md-11 tweet_txt" >
                    <span>{{ tweet_message }}</span>
                    <br/>
                    <span class="twitter_user">{{ tweet_user }}</span>
                </div>
                
                <div class="col-md-12">
                    {{ page.featured }}
                </div>

         </div><!-- /.row -->
    </div><!-- /.container -->
</div>

<div class="templatemo-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="footer_container">
                    {{ page.footer_one }} 
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="footer_container">
                    {{ page.footer_two }}
                    <ul class="list-inline">
                        <li>
                            <a href="{{ footer_facebook }}">
                                <span class="social-icon-fb"></span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ footer_twitter }}">
                                <span class="social-icon-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ footer_linkedin }}">
                                <span class="social-icon-linkedin"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="footer_container">
                    {{ page.footer_three }}
                </div>
            </div>                
        </div>
    </div>
</div>

<footer class="copyright-section">
    <div class="container text-center">
        <div class="copyright-info">
            <span>Copyright © 2020 Photogenic Theme. All Rights Reserved.</span>
        </div>
    </div><!-- /.container -->
</footer>